<% 3.times do |row| %>
    <div class="main_row">
      <% 3.times do |col| %>
        <span class="main_col">
          <% if game[row, col].nil? %>

            <!-- Post method on games/:game_id/moves -->
            <%= button_to "", game_moves_path(game), params: {row: row, col: col}, method: :post, remote: true, class: "inside_button"  %>        
          
            <% else %>
            <%= game[row, col] %>
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>

  <!-- <%= game.state %> -->