<div class="d-flex">
<%= image_tag "play.png", class: "play_image" %>

<form action="/games" method="post" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Start New Game" class="start_game m_auto">
</form>