
<% if $winner == "tie" %>
  <script>
    alert("It's a TIE !!!");
    <% $winner = "random" %>
    window.location.replace("/games");
  </script>

<% end %>

<div class="">
<%= image_tag "heading1.png", class: "heading " %>

<p> 
<% if $winner == "x" || $winner == "o" %>
  <script>
    alert("Player <%= $winner.upcase %> has won the game!!!");
    <% $winner = "random" %>
    window.location.replace("/games");
  </script>

<% end %>
</p>

<div class="outside">
  <%= render @game %>
</div>
</div>